* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
}
li {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/wild_oliva.png);
    border-radius: 10px;
}